* {
  box-sizing: border-box;
}

.board-container {
  display: flex;
  width: 28.4rem;
  margin: 0 auto;
}

.letters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.letters div {
  height: 2.5rem;
  display: flex;
  align-items: center;
  margin-right: 0.1rem;
}

#battle-board {
  width: 27rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

#battle-board span {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid black;
  margin: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}
